body{
    background-color: rgb(235, 227, 227);
}

#textbox {
    border-radius: 10px;
}

#test {
    text-align: center;
}

#searchItem {
    position: relative;
    width: 100%;
    height: 100px;
    display: none;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 10px;
    border: 5px solid blue;  
}

